<div class="row mt-3">
  <div class="col-md-5">
    <%= turbo_frame_tag 'boards_frame', src: boards_path(board: @active_board_id) %>
  </div>
  <div class="col-md-7">
    <%= turbo_frame_tag 'notes', src: board_notes_path(board_id: @active_board_id) %>
  </div>
</div>
