<%= tag.div id: 'details_header', class: 'hidden', data: {
  controller: 'show',
  show_use_value: 'details_state',
  show_check_value: 'show_details'
} do %>
  <%= tag.div class: 'px-4 py-3 border border-bottom-0 shadow d-flex justify-content-between align-items-center', style: 'background-color: white' do %>
    <%= tag.i id: 'back_to_notes', class: 'tapable bi bi-arrow-left fs-3 text-secondary', data: {
      controller: 'set-state clicker',
      clicker_selector_value: '#board_details_cancel',
      set_state_change_value: { details_state: { show_details: false }},
      action: 'click->set-state#fire click->clicker#click',
    } %>
    <span class="fs-5 text-secondary">Details</span>
    <%= link_to "Edit", edit_board_path(board), id: 'edit_details_btn', class: "btn btn-secondary disabled", data: {
      turbo_frame: 'board_details',
      controller: 'show',
      show_use_value: 'user_board_state details_state',
      show_check_value: 'owned && !editing && loaded',
      show_hidden_class: 'disabled'
    } %>
  <% end %>
<% end %>
