<%= tag.div class: 'hidden', data: {
  controller: 'state-driven',
  state_driven_state_selector_value: '#details_state',
  state_driven_key_value: 'show_details'
} do %>
  <%= tag.div class: 'px-4 py-3 border border-bottom-0 shadow d-flex justify-content-between align-items-center', style: 'background-color: white' do %>
    <%= tag.i id: 'back_to_notes', class: 'tapable bi bi-arrow-left fs-3 text-secondary', data: {
      controller: 'set-state',
      set_state_object_value: { show_details: false },
      set_state_id_value: 'details_state',
      action: 'click->set-state#fire',
    } %>
    <span class="fs-5 text-secondary">Details</span>
    <%= link_to "Edit", edit_board_path(board), class: "btn btn-secondary #{'disabled' unless owned}", data: {
      turbo_frame: 'board_details'
    } %>
  <% end %>
<% end %>
