<div id="board_header">
  <button id="back_to_boards" type="button" class="btn btn-sm btn-light bi bi-arrow-left ms-3 my-2 hidden-md"
    data-controller="class-changer" data-class-changer-manipulate-class="hidden-below-md"
    data-class-changer-selector-value=".toggle-mobile" data-action="class-changer#toggle"
  ></button>
  <span class="normal-height text-truncate my-2 mx-3 h5"><%= @board.name %></span>
</div>
