<%= tag.div id: 'no_notes', class: 'flex-grow-1 d-flex align-items-center hidden', data: {
  controller: 'state-driven',
  state_driven_state_selector_value: '#notes_counter',
  state_driven_eql_value: 0
} do %>
  <div class="w-100 text-center text-secondary">
    No notes on the board yet
  </div>
<% end %>
