<div id="notes_panel_header">
  <i id="back_to_boards" class="bi bi-arrow-left ms-3 hidden-md"
    data-controller="class-changer" data-class-changer-manipulate-class="hidden-below-md"
    data-class-changer-selector-value=".toggle-mobile" data-action="click->class-changer#toggle"
  ></i>
  <span class="normal-height text-truncate mx-3 fw-semibold my-1"><%= @board.name %></span>
  <div class="ms-auto me-3 dropdown">
    <i class="bi bi-three-dots-vertical" type="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
    <ul class="dropdown-menu">
      <li>
        <%= link_to 'Leave', leave_board_path(@board), class: 'dropdown-item',
          data: { turbo_method: 'put' } %>
      </li>
    </ul>
  </div>
</div>
