<div id="<%= dom_id(note, :note_list_item) %>" class="list-group-item list-group-item-action"
  <% if @more_pages && note.id == @loading_trigger %>
    data-controller="lazy-loader"
    data-lazy-loader-src-value="<%= board_notes_path(board_id: note.board.id, cursor: @next_cursor) %>"
    data-lazy-loader-indicator-value="#notes_spinner"
  <% end %>
  <% if defined?(auto_scroll) %>
    data-controller="scroll-into-view"
  <% end %>
>
  <%= render "note_inner", note: %>
</div>
