<%= turbo_frame_tag 'notes' do %>
  <div class="full-column d-flex flex-column">
    <div id="note_list" class="items-list list-group list-group-flush flex-grow-1 border"
      data-controller="scroll-bottom">
      <% if @notes.nil? %>
        <%= render 'not_selected' %>
      <% else %>
        <%# <div id="notes_spinner" class="my-5 text-secondary text-center invisible"> %>
        <%#   <div class="spinner-grow" style="width: 5rem; height: 5rem" role="status"> %>
        <%#     <span class="visually-hidden">Loading...</span> %>
        <%#   </div> %>
        <%# </div> %>
        <%= render @notes %>
      <% end %>
    </div>
    <% if @board.present? %>
      <%= render 'add_form' %>
    <% end %>
  </div>
<% end %>
