<% if message.present? %>
  <%
    alert_class = case type
                  when 'notice'
                    'alert-success'
                  when 'alert'
                    'alert-warning'
                  else
                    'alert-danger'
                  end
  %>
  <div class="mb-3 mx-5" data-controller="timeout-clicker"
    <% if defined?(timeout) %>
      data-timeout-clicker-timeout-value="<%= timeout %>"
    <% end %>
  >
    <div class="alert <%= alert_class %> alert-dismissible fade show shadow" role="alert">
      <%= message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" data-timeout-clicker-target="btn"></button>
    </div>
  </div>
<% end %>
