<% if message.present? %>
  <%
    alert_class = case type
                  when 'notice'
                    'alert-success'
                  when 'alert'
                    'alert-danger'
                  else
                    'alert-warning'
                  end
  %>
  <div class="d-flex justify-content-end mb-2 me-5">
    <div class="alert <%= alert_class %> alert-dismissible fade show shadow" role="alert">
      <%= message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% end %>
