<% if defined?(value) %>
  <%= tag.div id: "#{defined?(id) ? id : 'set_state' }", class: 'hidden', data: {
    controller: 'set-state',
    set_state_change_value: value,
    set_state_on_connect_value: true
  } %>
<% else %>
  <div id="set_state" class="hidden"></div>
<% end %>
