<h1 class="mb-3">About My Boards</h1>
<p>
My Boards allows to store notes and memos in a cloud and share them with other users.
You can categorize your notes by boards. By default all boards are private. This means only the board
owner can read notes from the board and create new ones. At the same time, the owner can share some
boards with other users. Boards can be published as read-only or read-write. In the last case, the
board becomes something like a group chat channel.
</p>
<p>
Now My Boards is a MVP only. The next steps are:  
</p>
<ul>
  <li>UI improvements</li>
  <li>Rich Text integration into notes</li>
  <li>adding ability to attach files and images to notes</li>
  <li>full-text search integration</li>
  <li>etc.</li>
</ul>
<div class="mt-5">
  <p>
    Copyright (c) 2023 Mikhail Dezhurko.
  </p>
  <p>
    Email: <a href="mailto:test@mail.com">test@mail.com</a>
  </p>
</div>
