<h1 class="mb-3">About My Boards</h1>
<p> My Boards were conceived as a small <%= link_to 'Ruby on Rails 7',
'https://rubyonrails.org/', target: '_blank' %> demo project. I decided to
put my experience as a React developer aside and opted for modern alternative
approaches like
<%= link_to 'Hotwire', 'https://hotwired.dev/', target: '_blank' %>,
<%= link_to 'Turbo', 'https://turbo.hotwired.dev/', target: '_blank' %>,
<%= link_to 'Stimulus', 'https://stimulus.hotwired.dev/', target: '_blank' %>.
This allowed me to create an application that looks like an SPA, but runs on
the server side and uses a minimal amount of JavaScript.</p>

<p> My Boards allows to store notes and memos in a cloud and share them with
other users. Notes are grouped into boards. By default, all boards are private:
only the board owner can read notes from the board, update them and create new
ones. At the same time, the owner can share some boards with other users.
Boards can be published as read-only or read-write. In the last case, the board
becomes something like a group chat channel. Changes to notes and boards are
broadcast via WebSocket and are instantly visible to all users who interact
with them.</p>

<p> Now My Boards is an MVP only. The next steps are:</p>
<ul>
  <li>publishing boards for invited users only (now public boards are accessible for all users)</li>
  <li>grouping boards into projects</li>
  <li>boards for P2P messaging</li>
  <li>full-text search integration</li>
  <li>authentication by google account</li>
  <li>adding ability to attach files and images to notes</li>
  <li>Rich Text integration into notes</li>
  <li>internationalization & localization</li>
  <li>notes import/export</li>
  <li>notifications</li>
  <li>UI improvements</li>
  <li>etc.</li>
</ul>

<p>I am also open for cooperation and commercial offers, including not related
to this project. Please contact if you have some great ideas :)</p>

<div class="my-5">
  <p> &copy 2023 Mikhail Dezhurko </p>
  <p> Email: <a href="mailto:my-boards@mail.ru">my-boards@mail.ru</a> </p>
</div>
