<div id="<%= dom_id(board, :list_item) %>" class="list-group-item list-group-item-action"
  data-empty-target='item'
  <% if @more_pages && board.id == @loading_trigger %>
    data-controller="lazy-loader"
    data-lazy-loader-src-value="<%= boards_path(cursor: @next_cursor) %>"
    data-lazy-loader-indicator-value="#boards_spinner"
  <% end %>
>
  <%= render "boards/board_inner", board: %>
</div>
