<%= turbo_frame_tag :board_details, class: 'mx-2 mt-4' do %>
  <%= tag.p class: 'fw-bold text-secondary fs-5 text-center' do %>
    <%= @board.name %>
  <% end %>
  <% if @board.description.blank? %>
    <p class="text-secondary">No description</p>
  <% else %>
    <p class="preserve-lines"><%= @board.description %></p>
  <% end %>
<% end %>
