<div class="list-group-item" data-controller="show-on-hover"
     data-action="mouseenter->show-on-hover#show mouseleave->show-on-hover#hide">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="text-truncate"><%= room.name %></h5>
    <div class="btn-group" role="group" hidden data-show-on-hover-target="hidden">
      <%= link_to "Edit", edit_room_path(room), class: "btn btn-secondary btn-sm", role: "button" %>
      <%= link_to "Delete", room, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger btn-sm", role: "button" %>
    </div>
  </div>
</div>
