<%= turbo_frame_tag dom_id(@room, :details) do %>
  <h6 class="card-title fw-bold"><%= @room.name %></h6>
  <p class="card-text">
    <% if @room.description.empty? %>
      <span class="text-secondary">No description</span>
    <% else %>
      <%= @room.description %>
    <% end %>
  </p>
<% end %>
