<div class="row mt-3">
  <div class="col-md-5">
    <div class="d-flex w-100 justify-content-between mb-3">
      <h1>
        Rooms:
      </h1>
      <div>
        <%= link_to "", new_room_path, class: "btn btn-primary bi bi-plus-lg", role: "button" %>
      </div>
    </div>

    <%= render 'shared/flash' %>

    <% if @rooms.empty? %>
      <div class="text-center">
        <h5>No rooms now</h5>
      </div>
    <% else %>
      <div class="list-group">
        <%= render @rooms %>
      </div>
    <% end %>
  </div>
</div>
