<div class="row">
  <div class="col-md-6">
    <h1 class="popover-with-html" id="header1"
        data-bs-toggle="popover" data-bs-trigger="hover focus"
        data-bs-custom-class="popover-without-arrow">
      Rooms:
    </h1>
    <%= render 'shared/flash' %>

    <div class="list-group">
      <%= render @rooms %>
    </div>

    <p></p>
    <%= link_to "Add room", new_room_path, class: "btn btn-primary", role: "button" %>
  </div>
</div>

<div hidden>
  <div id="header1-html">
    <!-- <div class="card"> -->
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    <!-- </div> -->
  </div>
</div>
