<div class="row mt-3">
  <div class="full-column col-md-6 d-flex flex-column">
    <div class="d-flex w-100 justify-content-between">
      <h1>Boards:</h1>
      <div data-controller="clicker class-changer" data-clicker-selector-value=".cancel-btn"
          data-class-changer-selector-value="#add_room_btn" data-class-changer-class-value="disabled">
        <%= render 'add_room_btn' %>
      </div>
    </div>

    <div id="room_list" class="items-list list-group list-group-flush flex-grow-1 mt-3 border">
      <% if @rooms.empty? %>
        <%= render 'no_rooms' %>
      <% end %>
      <%= render @rooms %>
      <div id="loading" class="my-5 text-secondary text-center invisible">
        <div class="spinner-grow" style="width: 5rem; height: 5rem" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  </div>
  <div id="note_list" class="full-column col-md-6 d-flex flex-column">
    <div class="items-list border flex-grow-1 d-flex align-items-center">
      <div class="w-100 text-center text-secondary">
        No notes in the board
      </div>
    </div>
  </div>
</div>
