/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

main {
  margin-top: 5rem;
}

.note-content {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.hover-wrapper {
  .hover-content-flex,
  .hover-content-block {
    display: none;
  }
  .hover-content-block {
    position: absolute;
    z-index: $zindex-popover;
  }
  .hover-trigger:hover ~ .hover-content-block,
  .hover-trigger:hover .hover-content-block {
    left: calc(100% - 1rem);
    transform: translate(-100%, 0);
    display: block;
  }
  .hover-trigger:hover ~ .hover-content-flex,
  .hover-trigger:hover .hover-content-flex {
    display: flex;
  }
}

.preserve-lines {
  white-space: pre-wrap;
}

.full-column {
  height: calc(100vh - 10rem);
}

.items-list {
  @extend .rounded;
  overflow-y: auto;
}

.growing-text {
  resize: none;
  max-height: 30vh;
}

.board-name {
  text-decoration-line: none;
}

.selected-board {
  @extend .list-group-item-primary;
}

.hidden {
  display: none !important;
}

.hidden-below-md {
  @extend .hidden;
}

.hidden-md {
  display: block;
}

#notes_frame {
  display: none;
}

#notes_frame[complete] {
  display: block;
}

@include media-breakpoint-up(md) {
  .full-column {
    height: calc(100vh - 6rem);
  }

  .hidden-below-md {
    display: block !important;
  }

  .hidden-md {
    display: none;
  }

  #notes_frame {
    display: block;
  }
}

#board_header {
  @extend .border;
  @extend .shadow;
  @extend .mb-2;
  @extend .rounded;
  @extend .d-flex;
  @extend .align-items-center;

  background-color: white;
  cursor: default;
}

.normal-height {
  line-height: normal;
}
